* {
  box-sizing: border-box;
}

:root {
  --beige: #dbd5b5;
  --orange: #fcab10;
  --red: #f8333c;
  --green: #44af69;
  --blue: #2b9eb3;
}

body {
  margin: 0;
  font-family: "Pixelify Sans", cursive, sans-serif;
  background-color: var(--blue);
}
h1 {
  color: var(--orange);
  text-align: center;
  text-shadow: 2px 2px var(--red), 4px 4px var(--red), 6px 6px var(--red);
  font-size: 5em;
  margin-top: 0px;
}

.game {
  display: flex;
  flex-wrap: wrap;
  max-width: 525px;
  margin: auto;
  margin-top: -10px;
  margin-bottom: 20px;
}

.cell {
  height: 35px;
  width: 35px;
  border: 1.5px solid black;
  background-color: var(--beige);
}

.player {
  /* background-color: var(--green); */
  background-image: url(player.png);
  background-size: cover;
}

.forbiddenCase {
  background-color: #807c67;
}

.wall {
  background-color: var(--orange);
}

.bomb {
  background-color: black;
  animation-duration: 0.8s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}
@keyframes clignoter {
  0% {
    background-color: black;
  }
  30% {
    background-color: rgb(219, 219, 219);
  }
  100% {
    background-color: black;
  }
}

.impactBomb {
  background-color: #f8333c;
}

#score {
  text-align: center;
}

#time {
  text-align: center;
}

#btn-start {
  font-size: 3em;
  align-items: center;
  background-color: #dbd5b5;
  font-family: "Pixelify Sans", cursive, sans-serif;
  padding: 50px 80px;
  margin-top: 154px;
  margin-bottom: 140px;
  position: relative;
  left: 50%;
  translate: -50% -50%;
  cursor: pointer;
}

dialog {
  font-size: 1em;
  background-color: #dbd5b5;
  padding: 50px 80px;
  width: 500px;
}

#control {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  font-size: 1.5em;
}

.timeScore {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  margin-top: -20px;
}

.keyboard {
  text-align: center;
  display: flex;
  margin-top: -40px;
  gap: 40px;
  align-items: center;
  padding: 0 100px;
}

p.keyboard img {
  width: 50px; /* Remplacez 50px par la largeur souhaitée en pixels ou une autre unité de mesure */
}

dialog button {
  cursor: pointer;
  padding: 20px;
  font-size: 2em;
  font-family: "Pixelify Sans", cursive, sans-serif;
}

dialog::backdrop {
  backdrop-filter: blur(4px) sepia(0.2);
}

.finalScore {
  font-size: 2em;
}

@media only screen and (max-width: 540px) {
  h1 {
    font-size: 2em;
  }

  .cell {
    height: 25px;
    width: 25px;
  }

  .game {
    width: 375px;
    margin-bottom: 0px;
  }

  dialog {
    font-size: 1em;
    background-color: #dbd5b5;
    padding: 25px 40px;
  }

  .phoneButton {
    background-color: #dbd5b5;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    border: 2px solid black;
  }

  .right {
    margin-left: 40%;
  }

  .down {
    margin-left: 25%;
  }

  .left {
    margin-left: 10%;
    margin-top: -125px;
  }

  .up {
    margin-left: 25%;
    /* margin-top: -20%; */
  }

  .space {
    margin-top: -70px;
    margin-left: 75%;
    background-color: black;
  }

  #btn-start {
    font-size: 1, 5em;
    padding: 25px 40px;
    margin-top: 150px;
    margin-bottom: 40px;
    position: relative;
    left: 50%;
    translate: -50% -50%;
    color: black;
  }

  .timeScore {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .finalScore {
    font-size: 1em;
  }

  dialog button {
    cursor: pointer;
    font-size: 1em;
  }

  #control {
    display: none;
  }
}
